/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


@keyframes fadeIn {
     0% {
         opacity:0;
     }
     100% {
         opacity:1;
     }
 }

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.block-whatsapp{
    display: block!important;
    background: transparent;
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.container-info-map .btn-whatsapp{
    background: rgb(4,152,1);
    background: linear-gradient(90deg, rgba(4,152,1,1) 0%, rgba(120,210,40,1) 100%);
    position: relative;
    display: flex;
    border-radius: 30px;
    height: 34px;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    width: 120px;
    margin: auto;
    z-index: 999;
    position: relative;
}

.container-info-map .btn-whatsapp span{
    color:#fff;
    padding-left: 10px;
}

.container-info-map .email-icon{
    background-image: url(../images/email-icon.png);
    width: 27px;
    height: 15px;
    display: block;
    background-size: cover;
}

.container-info-map .icon-btn-whatsapp{
    background-image: url(../images/whatsapp-web.png);
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    top: 2px;
    position: relative;
}

.container-info-map .title{
    text-align: center;
    color: #404040;
    margin: auto;
    z-index: 9999;
    position: relative;
    font-size: 18px;
}

.container-info-map .conte-info-map{
    text-align: center;
    padding: 20px 10px;
    color: #373737;
    z-index: 9999;
    position: relative;
    max-width: 220px;
}

.container-info-map .p-info{
    color: #373737;
    margin: auto;
    z-index: 9999;
    position: relative
}


.gm-style .gm-style-iw-c{
    background-color: rgb(230, 221, 212);
}

.gm-style .gm-style-iw-t::after{
    background: linear-gradient(45deg,rgb(230, 221, 212) 50%,rgb(230, 221, 212) 51%,rgb(230, 221, 212) 100%);
}

.poi-info-window div, .poi-info-window a{
    background-color: rgb(230, 221, 212);
}


/**Google Maps**/

.whatsapp-eideoviral{
    position: fixed;
    max-width: 320px;
    right: 40px;
    bottom: 50px;
    z-index: 99999;
    border-radius: 20px;
}

.whatsapp-container{
    display: none;
    max-width: 300px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    border: 0.1rem solid #e3e3e3;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(212,210,212,1);
    -moz-box-shadow: 0px 0px 33px 0px rgba(212,210,212,1);
    box-shadow: 0px 0px 33px 0px rgba(212,210,212,1);
    background: transparent;
    border-radius: 20px;
}

.whatsapp-container img{
    width: 100%;
    margin-top: 5px;
}

.whatsapp-container .whatsapp-header{
    background: #25d366;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    position:relative;
    z-index: 99;
}

.whatsapp-container .row-whatsapp{
    display: flex;
}

.whatsapp-container .col{
    width: 50%;
}

.whatsapp-container .close-whatsapp:hover{
    background: #128940;
}


.whatsapp-container .close-whatsapp{
    background: #17753a;
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}
.whatsapp-container .close-whatsapp span{
    top: 1px;
    position: relative;
}

.whatsapp-container .flex-end{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.whatsapp-container .body-chat{
    scrollbar-color: rgb(230, 221, 212)  rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    background-color: rgb(230, 221, 212);
    padding: 10px;
    text-align: center;
    width: 225px;
    height: 280px;
    max-height: 280px;
    border-radius: 0px 0px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;

}
.body-chat::before{
    border-radius: 20px;
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url(../images/fondo-whatsapp.webp);
    opacity: 0.08;
}

.whatsapp-container .cloud-chat{
    background: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
    box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
    z-index: 9999;
    position: relative;
}

.whatsapp-container .img-businness{
    width: 100%;
    margin: 1px;
    border-radius: 50%;
}

.whatsapp-container .text-content{
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #606060;
    font-size: 12px;
}

.whatsapp-container .body-chat p{
    font-size: 12px;
    color: #606060;
    max-width: 200px;
    margin: auto;
    padding: 10px;
}

.whatsapp-container .select{
    appearance: none;
    outline: none;
    margin: 0;
    padding: 10px 3px;
    font-size: 12px;
    display: block;
    margin: auto;
    border:0px;
    width: 90%;
    z-index: 9999;
    position: relative;
    border-radius: 4px;
    color: #606060;
    border: 1px solid #dbd0c6;
}

.whatsapp-container label{
    position: relative;
    width: 100%;
}

.whatsapp-container label .arrow{
    background: url(./../images/arrow-select.svg);
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 99999;
    background-size: cover;
}

.whatsapp-container .body-chat .btn-search{
    padding: 10px;
    color:#fff;
    background: #19b854;
    border:none;
    margin: 10px 0px;
    font-size: 14px;
    border-radius: 20px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.whatsapp-container .body-chat .btn-search:hover{
    background: #128940;
}


.btn-whatsapp-float{
    background-image: url(../images/btn-whatsapp.png);
    background-size: contain;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    display: block;
    cursor:pointer;
    right: 9px;
    position: relative;
    top: -7px;
}

.whatsapp-container .btn-call{
    font-size: 14px;
    color: #fff;
    background: #49ae3d;
    padding: 4px 8px;
    border: 1px solid #59b240;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
}

.whatsapp-container .btn-call:hover{
    background: #3a9f2e;
    border: 1px solid #478e33;
}

.whatsapp-container .col-description{
    width: 100%;
    padding: 4px;
}

.whatsapp-container .col-description .title{
    font-size: 12px;
    margin: 0px;
    text-align: left;
    color: #4d4444;
}

.whatsapp-container .error-service-chat{
    font-size: 12px;
    background: #d32525;
    padding: 5px;
    width: 90%;
    color:#fff;
    margin:5px auto;
}

.whatsapp-container .col-description .address{
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 11px;
}

.whatsapp-container .col-btn-call{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-container .btn-back{
    color: #918b86;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    top: 10px;
    position: relative;
}

.pulse {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #25d366;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(16, 162, 70, 0.55);
    animation: pulse 2s infinite;
    right: 0px;
    position: absolute;
}

.content-disable{
    display: none!important;
}

.content-block{
    display: block!important;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.list-address-whatsapp{
    margin-bottom: 35px;
    display: none;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(31, 199, 48, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(79, 204, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(92, 204, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
        box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

/**Personalizate Scroll**/
.contenedor {
    margin: 2rem auto;
    border: 1px solid #aaa;
    height: 300px;
    width:90%;
    max-width: 400px;
    background: #f1f2f3;
    overflow:auto;
    box-sizing: border-box;
    padding:0 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.body-chat::-webkit-scrollbar {
    -webkit-appearance: none;
}

.body-chat::-webkit-scrollbar:vertical {
    width:10px;
}

.body-chat::-webkit-scrollbar-button:increment,.body-chat::-webkit-scrollbar-button {
    display: none;
}

.body-chat::-webkit-scrollbar:horizontal {
    height: 10px;
}

.body-chat::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.body-chat::-webkit-scrollbar-track {
    border-radius: 10px;
}
